*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: currentColor;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1320px;
  padding: 0 1.2rem;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: normal;
  line-height: 1;
  color: #2a2a2a;
  font-size: 1.6rem;
}

h2,
h3 {
  text-transform: capitalize;
  font-weight: 700;
}

.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  line-height: 7.2rem;
}

.heading-secondary {
  font-size: 3rem;
  line-height: 4.4rem;
}

.heading-translucent {
  text-transform: uppercase;
  color: #ff695f;
  opacity: 0.15;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.text-color--blue {
  color: #03a4ed;
}

.text-color--orange {
  color: #ff695f;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.icon {
  color: #fff;
  border-radius: 50%;
}
.icon__bg--orange {
  height: 4.6rem;
  width: 4.6rem;
  padding: 1rem;
  background-image: linear-gradient(to right bottom, #ff695f, rgba(255, 105, 95, 0.8));
}
.icon__bg--blue {
  background-color: #03a4ed;
  width: 3.2rem;
  height: 3.2rem;
  padding: 8px;
}
.icon__bg--transparent {
  width: 3.2rem;
  height: 3.2rem;
  background-color: transparent;
  color: red;
}
.icon__img {
  width: 4.5rem;
  height: 4.5rem;
}

.btn {
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
  border-radius: 10rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.btn--orange {
  background-color: #ff695f;
  padding: 1.2rem 2.5rem;
}
.btn--orange:hover {
  background-color: #03a4ed;
}
.btn--blue {
  background-color: #03a4ed;
  padding: 1.2rem 2.5rem;
}
.btn--blue:hover {
  background-color: #ff695f;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__item {
  letter-spacing: 1px;
  transition: all 0.3s;
}
.nav li:not(:last-child) .nav__item:hover {
  color: #ff695f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.hero-text-box {
  width: 50%;
  padding: 15rem 0;
}
.hero__subheading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ff695f;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.hero__title {
  margin-bottom: 2rem;
}
.hero__description {
  line-height: 3rem;
  margin-bottom: 2rem;
}
.hero-button-box {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}
.hero__btn {
  margin-right: 2rem;
}
.hero__icon {
  margin-right: 1rem;
}
.hero__tel {
  color: #ff695f;
}
.hero__banner--left {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 26.7rem;
  max-height: 53.2rem;
}
.hero__banner--right {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 82rem;
  max-height: 67.4rem;
}
.hero__pagination {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}
.hero__pagination--item-active {
  color: #ff695f;
  padding: 0 0.4rem 0.6rem 0.4rem;
  border-bottom: 3px solid #ff695f;
}

.service {
  text-align: center;
  position: relative;
}
.service__dec {
  position: absolute;
}
.service__dec--left {
  height: 63.8rem;
  width: auto;
  top: -15rem;
  left: -10rem;
  z-index: -1;
}
.service__dec--right {
  width: 30rem;
  bottom: -10rem;
  right: 0;
}
.service__title {
  width: 30%;
  margin: 0 auto;
}
.service__cards {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}
.service__card {
  padding: 3rem;
  box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.05);
  text-align: center;
  border-radius: 2rem;
  background-color: #fff;
}
.service__card--title {
  margin-bottom: 3rem;
  line-height: 3rem;
}
.service__card img {
  margin-bottom: 3rem;
}
.service__card--description {
  padding-top: 3rem;
  border-top: 1px solid #eee;
  line-height: 3rem;
}

.section-header {
  background-color: #fafafa;
}

.section-hero {
  position: relative;
}

.section-service {
  position: relative;
  padding: 9.6rem 0;
}

/*# sourceMappingURL=styles.css.map */
