.portfolio {
  text-align: center;
  position: relative;

  &__title {
    width: 30%;
    margin: 0 auto;
  }

  &__dec {
    position: absolute;
    left: 5rem;
    top: 0;
    width: 34rem;
    z-index: -1;
  }

  &__grid {
    gap: 3rem;
    padding: 0 3rem;
    position: relative;
    margin-bottom: 3rem;
  }

  &__item {
    border-radius: $normal-radius;
    overflow: hidden;
    position: relative;
  }

  &__item img {
    transition: all 0.2s;
  }

  &__item:hover img {
    opacity: 0.8;
  }

  &__item:hover &__item-detail {
    bottom: 3rem;
  }

  &__item-detail {
    position: absolute;
    bottom: -100%;
    right: 2rem;
    color: $color-white;
    transition: all 0.5s ease;

    background-image: url("/assets/images/hover-bg.png");
    background-size: cover;

    z-index: 2;

    width: 24rem;
    height: 21rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }

  &__item-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;

    &--left {
      left: 5rem;
    }
    &--right {
      right: 5rem;
    }

    &:hover {
      opacity: 1;
    }
  }
}
