.section-header {
  background-color: $color-grey--bg;
}

.section-hero {
  position: relative;
}

.section-service {
  position: relative;
  padding: 9.6rem 0;
}

.section-about {
  padding: 4.8rem 0 9.6rem 0;
}

.section-portfolio {
  padding: 4.8rem 0 9.6rem 0;
}

.section-plans {
  padding: 4.8rem 0 9.6rem 0;
  text-align: center;
  position: relative;
}

.section-mail {
  padding: 4.8rem 0 9.6rem 0;
}

.section-video {
  padding: 4.8rem 0 9.6rem 0;
  position: relative;
}

.section-contact {
  padding: 4.8rem 0 9.6rem 0;
  position: relative;
}
