.section-header {
  background-color: $color-grey--bg;
}

.section-hero {
  position: relative;
}

.section-service {
  position: relative;
  padding: 9.6rem 0;
}

.section-about {
  padding: 9.6rem 0;
}
